@import '../utilities/module';



.bg {
    background-color: #eee;
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.6), rgb(255, 255, 255) 70vh),
        linear-gradient(45deg, $lightgrey 25%, transparent 25%, transparent 75%, $lightgrey 75%, $lightgrey),
        linear-gradient(45deg, $lightgrey 25%, transparent 25%, transparent 75%, $lightgrey 75%, $lightgrey), ;
    background-size: auto, 30px 30px, 30px 30px;
    background-position: 0 0, 0 0, 15px 15px;
}

.bg-img {
    background-color: #eee;
    background-image:
        url("../assets/images/img-top.png"),
        linear-gradient(rgba(255, 255, 255, 0.6), rgb(255, 255, 255) 70vh),
        linear-gradient(45deg, $lightgrey 25%, transparent 25%, transparent 75%, $lightgrey 75%, $lightgrey),
        linear-gradient(45deg, $lightgrey 25%, transparent 25%, transparent 75%, $lightgrey 75%, $lightgrey), ;
    background-size: 85%, auto, 30px 30px, 30px 30px;
    background-position: right top, 0 0, 0 0, 15px 15px;
    background-repeat: no-repeat, repeat, repeat, repeat;

}

@media(min-width: $small-breakpoint) {
    .bg-img {
        background-color: #eee;
        background-image:
            url("../assets/images/img-top.png"),
            url("../assets/images/img-left.png"),
            linear-gradient(rgba(255, 255, 255, 0.6), rgb(255, 255, 255) 70vh),
            linear-gradient(45deg, $lightgrey 25%, transparent 25%, transparent 75%, $lightgrey 75%, $lightgrey),
            linear-gradient(45deg, $lightgrey 25%, transparent 25%, transparent 75%, $lightgrey 75%, $lightgrey), ;
        background-size: 65%, 65%, auto, 30px 30px, 30px 30px;
        background-position: right top, left bottom, 0 0, 0 0, 15px 15px;
        background-repeat: no-repeat, no-repeat, repeat, repeat, repeat;

    }
}

@media(min-width: $large-breakpoint) {
    .bg-img {
        background-color: #eee;
        background-image:
            url("../assets/images/img-top.png"),
            url("../assets/images/img-left.png"),
            linear-gradient(rgba(255, 255, 255, 0.6), rgb(255, 255, 255) 70vh),
            linear-gradient(45deg, $lightgrey 25%, transparent 25%, transparent 75%, $lightgrey 75%, $lightgrey),
            linear-gradient(45deg, $lightgrey 25%, transparent 25%, transparent 75%, $lightgrey 75%, $lightgrey), ;
        background-position: right top, left center, 0 0, 0 0, 15px 15px;
        background-repeat: no-repeat, no-repeat, repeat, repeat, repeat;
        background-size: 55%, 50%, auto, 30px 30px, 30px 30px;

        &--small {
            background-size: 35%, 35%, auto, 30px 30px, 30px 30px;
            background-position: right top, left bottom, 0 0, 0 0, 15px 15px;

        }
    }
}
