@import '../utilities/module';

.card {
    border-radius: 20px;
    box-shadow: $light-shadow;
    padding: 1rem;
    position: relative;
    background-color: white;
    transition: 1s ease;


    &--simple {
        box-shadow: none;
        border-bottom: 1px solid $grey;
        border-radius: 0;
        gap: 1.25rem;
    }

    &--type-modal {
        box-shadow: none;
        gap: 2rem;
        align-content: center;
        width: auto;
    }
}

@media(min-width: $large-breakpoint) {
    .card {

        &--simple {
            .card__title {
                font-size: $font-s;
            }
        }
    }
}
