@import '../utilities/module';


.header {
    &__inner {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto;
        column-gap: 1rem;
    }

    &__logo {
        grid-row: 1 / -1;
    }


    &__nav-action {
        margin-right: 1rem;
        margin-top: 1rem;
        justify-self: end;
        align-self: start;
    }

    &__search {
        align-self: end;
        justify-self: stretch;
        padding-right: 1rem;
    }

    &__nav {
        display: none;
        margin-top: 3vh;
        margin-left: 3vh;
    }

    &--active {
        .header__inner {
            min-height: 100vh;
            display: grid;
            grid-template-rows: auto 1fr;
            background-image: linear-gradient($lightgrey, rgb(255, 255, 255));
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
        }

        .header__logo {
            grid-row: 1;
        }

        .header__search {
            display: none;
        }

        .header__nav {
            display: block;
            overflow-y: scroll;
        }

        // not a case in production - class 'header--active' only available on mobile
        @media (min-width: $large-breakpoint) {
            .nav--mobile {
                display: none;
            }
        }

        &__btn {
            display: none;
        }
    }

    &--layout-simple {
        .header__inner {
            height: 100%;
            grid-template-columns: auto;
            grid-template-rows: auto 1fr;
        }

        .header__logo {
            grid-row: 1;
        }

    }
}

@media (min-width: $large-breakpoint) {

    .header {
        &__inner {
            min-height: auto;
            display: grid;
            justify-items: end;
            grid-template-rows: auto;
            grid-template-columns: auto 1fr;
            background-image: none;
            gap: normal;
        }

        &__search {
            display: none;
        }

        &__nav-action {
            display: none;
        }

        &__nav {
            align-self: center;
            margin: 0;
        }

        &--has-search {
            .header__inner {
                grid-template-columns: auto 1fr auto;
            }

            .header__search {
                display: grid;
                align-self: center;
                width: 500px;
                max-width: none;
                padding: 0;
                justify-self: center;

            }
        }

        &--layout-simple {
            .header__inner {
                height: 100%;
                grid-template-rows: auto;
                grid-template-columns: auto 1fr;
            }

            .header__logo {
                grid-row: 1;
            }

        }
    }
}
