$primary-color: #e76f3f;
$secondary-color: #9bd77e;
$accent-color: #3fc6ed;
$dark: #292929;
$grey: #b8b8b8;
$lightgrey: rgb(245, 245, 245);
$warning: rgb(230, 41, 41);

$max-width: 1176px;
$small-breakpoint:540px;
$medium-breakpoint:760px;
$large-breakpoint: 1024px;
$xl-breakpoint: 1176px;

$font-xl: 40px;
$font-l: 20px;
$font-m: 18px;
$font-s: 14px;
$font-xs: 12px;
