$primary-color: #e76f3f;
$secondary-color: #9bd77e;
$accent-color: #3fc6ed;
$dark: #292929;
$grey: #cfcfcf;
$dark-grey: darken($grey, 20%);
$lightgrey: rgb(245, 245, 245);
$warning: rgb(230, 41, 41);

$max-width: 1176px;
$small-breakpoint:540px;
$medium-breakpoint:760px;
$large-breakpoint: 1024px;
$xl-breakpoint: 1176px;

$font-main: 14px;
$font-xl: 40px;
$font-l: 21px;
$font-m: 18px;
$font-s: 16px;
$font-xs: 12px;

$light-shadow: 0 3px 6px 0 rgba(150, 150, 150, 0.1), 0 4px 12px 0 rgba(150, 150, 150, 0.09);
$dark-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

$small-padding: 0.75rem 1rem;
$normal-padding: 0.75rem 1.5rem;
