.aside {
    background-color: white;
    border-radius: 1rem;
    box-shadow: $light-shadow;

    &__btn {
        color: $grey;
        font-size: 24px;
        font-family: arial;
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
    }

    &__item {

        position: relative;

        &--is-hidden {
            display: none;
        }

        &--is-fixed {
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: white;
            z-index: 1;
        }

    }

}

@media (min-width: $large-breakpoint) {

    .aside {
        position: relative;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        box-shadow: none;

        &__btn {
            display: none;
        }

        &__inner {
            padding: 1.5rem 0;
        }

        &__item {

            &--is-fixed {
                position: static;
                background-color: transparent;
            }

        }

        &::before {
            content: "";
            display: block;
            background-color: white;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 100%;
            left: -1200px;
        }
    }

}
