@import '../utilities/module';

.dropdown {
    display: none;


    &__link {
        color: $grey;
    }

    &--active {
        display: grid;
    }

}

@media (min-width: $large-breakpoint) {
    .dropdown {
        background-color: white;
        display: none;
        padding: 0.5rem;
        border-radius: 0.5rem;
        box-shadow: $light-shadow;
        min-width: 100%;

        * {
            white-space: nowrap;
        }

        &--active {
            display: grid;
            z-index: 1;
        }

        &__item {
            border-bottom: 1px solid $lightgrey;

            &:last-child {
                border-bottom: none;
            }

            &--checked {
                position: relative;

                .dropdown__icon {
                    display: block;
                }
            }
        }

        &__link {
            color: $dark;
            padding: 0.5rem;
            text-align: center;
            display: block;
        }

        &__group {
            .dropdown__item {
                border-bottom: none;
            }
        }

        &__title {
            font-size: 16px;
            font-weight: 700;
            padding: 0.5rem;
            text-align: center;
        }

        &__icon {
            display: none;
            position: absolute;
            top: 0.5rem;
            right: 0;
        }
    }


}
