@import '../utilities/module';

.footer {
    background-color: $dark;

    &__inner {
        padding: 4rem 0 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    &__text {
        color: rgba(255, 255, 255, 0.5);
        font-family: 'giddyup-std', sans-serif;
        font-size: $font-m;

        --size-s {
            font-size: $font-s;
        }
    }
}
