.labels {
    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        margin: 0 1rem 0.5rem 0;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        &--has-input {
            display: flex;
            padding: 0.25rem 0.75rem;

            .labels__icon {
                transform: rotate(45deg);
                color: $primary-color;

                &:hover {
                    color: $dark;
                }
            }
        }
    }

    &__input {
        display: inline-block;
        padding: 0.25rem 0.75rem;
        width: 120px;
        text-align: center;
    }
}
