@import '../utilities/module';

.btn {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-align: center;

    &:hover, &:focus, &:active {
        // darken;
    }

    &__icon {
        padding: 0 0.5rem;
        @include color-modifiers;

    }

    &--bg-white {
        background-color: white;
        border-radius: 20px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.09);
    }


    @include color-modifiers;
}
