@import '../utilities/module';


.radio {
    position: relative;

    &__input {
        display: none;
    }

    &__label {
        display: flex;
        padding-left: 1.5rem;
        cursor: pointer;


        &:before {
            display: block;
            content: "";
            height: 12px;
            width: 12px;
            border: 1px solid $dark;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: 0;
            transition: 0.3s;

        }
    }

    &:hover, &:active, &:focus {
        .radio__label:before {
            background-color: $lightgrey;
        }
    }

    &__input:checked+&__label:before {
        border-color: $primary-color;
        background-color: $primary-color;
    }

    &__input:checked+&__label:after {
        display: block;
        content: "";
        height: 2px;
        width: 2px;
        position: absolute;
        left: 4px;
        top: 4px;
        border: solid white;
        border-width: 2px;
        border-radius: 50%;
    }


    &--underlined {
        margin-right: 1rem;

        &:last-child {
            margin-right: 0;
        }

        .radio__label {
            display: inline-block;
            padding-left: 0;
            transition: color 0.2s ease;

            &:hover {
                color: lighten($dark, 20%);
            }
        }

        .radio__input:checked+.radio__label {
            border-bottom: 2px solid $primary-color;
            font-weight: 600;
        }

        .radio__label:before {
            content: none;
        }

        .radio__input:checked+.radio__label:after {
            content: none;
        }
    }
}
