@import '../utilities/module';

.collapsible {
    position: relative;
    cursor: pointer;
    transition: 0.25s;

    &__top-content {
        height: 0;
        overflow: hidden;
        transition: 0.25s;
        visibility: hidden;
    }


    &__main-content {
        height: 0;
        overflow: hidden;
        transition: 0.25s;
    }

    &__btn {
        display: none;

        &--mobile {
            display: block;
        }
    }

    &--isOpen {
        .collapsible__top-content {
            height: 2rem;
            visibility: visible;
        }
    }
}

@media(min-width: $medium-breakpoint) {
    .collapsible {
        &__btn {
            display: block;
            position: absolute;
            top: 50%;
            right: 0.5rem;
            transform: translateY(-50%);
            z-index: 1;
            transition: 0.25s;
        }

        &--isOpen {

            .collapsible__btn {
                // top: auto;
                bottom: 0;
                transform: none;
            }
        }
    }
}
