@import '../utilities/module';

.collapsible {
    background-color: $primary-color;

    &__content {
        display: none;
        background-color: $secondary-color;
    }

    &--isOpen {
        .collapsible__content {
            display: block;
        }
    }
}
