@import '../utilities/module';

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: $font-main;
    color: $dark;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    display: block;
    list-style-type: none;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: $primary-color;
}

button {
    background-color: transparent;
    border: none;
    padding: 0;
}

fieldset {
    border: none;
}
