@import '../utilities/module';

.text {
    color: $dark;
    font-size: 14px;

    &--size {
        &-sm {
            font-size: 12px;
        }

        &-l {
            font-size: 16px;
        }

        &-xl {
            font-size: 18px;
        }
    }

    &--color {
        &-light {
            color: $grey;
        }
    }

    &--padding {
        &-bottom {
            padding-bottom: 1rem;

            &-sm {
                padding-bottom: 0.75rem;
            }
        }

        &-top {
            padding-top: 1rem;
        }

        &-y {
            padding: 1rem 0;
        }
    }





    &--capitalize {
        text-transform: capitalize;
    }
}
